<div class="card" style="margin: 10px">
	<div class="card-header">
		<h1 class="card-title">Guestlist</h1>
	</div>

	<div class="card-body">
		<form class="form-inline" method="POST" style="margin: 20px 0">
			<div class="form-group">
				<input type="text" name="formName" class="form-control" placeholder="Name" value="{{nameDefault}}">
				<input type="text" name="formExtras" class="form-control" placeholder="Extras" value="{{extrasDefault}}">
				<button type="submit" name="submit" class="btn btn-primary">Post</button>
			</div>
		</form>
		<table class="table">
			<thead>
				<tr>
					<th>Name</th>
					<th>Extras</th>
					<th colspan="2">Actions</th>
				</tr>
			</thead>
			<tbody>
				{{#each guest}}
				<tr>
					<td>{{name}}</td>
					<td>{{extras}}</td>
					<td><a href="/guest/delete/{{$loki}}">Delete</a></td>
					<td><a href="/guest/update/{{$loki}}">Update</a></td>
				</tr>
				{{/each}}
			</tbody>
		</table>
	</div>
</div>
