<form class="form-inline" method="POST">
	<div class="form-group">
		<input type="hidden" name="id" th:field="*{id}">
		<input type="text" name="nome" class="form-control" placeholder="Nome">
		<input type="date" name="fdate" class="form-control" placeholder="Data">
		<button type="submit" name="submit" class="btn btn-primary">Enviar</button>
	</div>
</form>