<div class="panel panel-default" style="margin: 10px">
	<div class="panel-heading">
		<h1 class="panel-title">Guestlist</h1>
	</div>

	<div class="panel-body">
		<form class="form-inline" method="POST">
			<div class="form-group">
				<input type="text" name="formName" class="form-control" placeholder="Name" value="{{nameDefault}}">
				<input type="date" name="formDate" class="form-control" placeholder="Date" value="{{dateDefault}}">
				<button type="submit" name="submit" class="btn btn-primary">Post</button>
			</div>
		</form>
		<table class="table">
			<thead>
				<tr>
					<th>Name</th>
					<th>Extras</th>
					<th colspan="2">Actions</th>
				</tr>
			</thead>
			<tbody>
				{{#each party}}
				<tr>
					<td>{{name}}</td>
					<td>{{date}}</td>
					<td><a class="glyphicon glyphicon-trash" href="/party/delete/{{$loki}}">Delete</a></td>
					<td><a class="glyphicon glyphicon-pencil" href="/party/update/{{$loki}}">Update</a></td>
				</tr>
				{{/each}}
			</tbody>
		</table>
	</div>
</div>
